
.icon-attention-alt:before { content: '\e800'; } /* '' */
.icon-search:before { content: '\e801'; } /* '' */
.icon-fast-backward:before { content: '\f013'; } /* '' */
.icon-star-half:before { content: '\f022'; } /* '' */
.icon-star-half_empty:before { content: '\f024'; } /* '' */
.icon-location:before { content: '\f031'; } /* '' */
.icon-trophy:before { content: '\f074'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
